<%= form_with(model: post, local: true, url: choose_new_or_edit ) do |form| %>
  <div class="form-floating mb-2">
    <%= form.text_area :content, :class => "form-control", placeholder: "Leave a comment here", style: "height: 100px", required: true, maxlength: 140 %>
    <%= form.label :content %>
  </div>

  <div class="actions d-flex justify-content-between">
  <%= link_to(posts_path)  do %>
      <div class="btn btn-light">
          <i class="bi bi-chevron-compact-left"></i> Back
      </div>
  <% end%>
  <% if action_name == "new"%>
  <button type="submit" class="btn btn-info">
    <i class="bi bi-check-lg"></i> Publish
  </button>
    
  <% else %>
    <%= form.submit 'Save' , :class => "btn btn-info" %>
  <% end %>
  </div>
<% end %>
